@{
    ViewData["Title"] = "Custom Excel";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@using MinerMVC.ViewModel
@model List<MinerMVC.ViewModel.CustomExcelViewModel>

<script>
$(document).ready(function() {
    $(".image-thumbnail").on("click", function() {
        let imageSrc = $(this).attr("src");
        $("#modalImage").attr("src", imageSrc);
        $("#imageModal").modal("show");
    });
    
    
});
</script>

<table class="table table-dark mt-5 text-center align-middle">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Verified</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var customExcel in Model.Select((value, index) => new { value, index }))
    {
        <tr>
            <th scope="row" hidden="hidden">@customExcel.value.Id</th>
            <th>@(customExcel.index + 1)</th>
            <td>@customExcel.value.Name</td>
            <td>@customExcel.value.Description</td>
            <td>
                <img class="image-thumbnail" src="~/Contents/@customExcel.value.ImagePath" alt="Uploaded Image" width="100" height="100">
            </td>
            <td>
                <input class="big-checkbox" type="checkbox" value="@customExcel.value.Verified">
            </td>
            <td>
                <button type="button" class="btn btn-success">Edit</button>
            </td>
        </tr>
    }
    </tbody>
</table>

@await Html.PartialAsync("_Insert", Model.FirstOrDefault(new CustomExcelViewModel()))
@await Html.PartialAsync("_ScaleImage")

<style>
    .big-checkbox {width: 30px; height: 30px;}
</style>